armory==0.1.2
requests==2.8.1
lxml==4.6.3
greenlet==0.4.9
gevent==1.1b6
beautifulsoup4==4.4.1
python-dateutil==2.4.2
Unidecode==0.4.18
python-Levenshtein==0.12.0
fuzzywuzzy==0.7.0
click==5.1
Jinja2==2.8
simplejson==3.8.2
SQLAlchemy==1.1.0b3
